@import './normalize.css';
@import './variables.css';

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: var(--main-font-family);
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased; /* stylelint-disable-line */
  -moz-osx-font-smoothing: grayscale; /* stylelint-disable-line */
}

body {
  height: 100%;
  font-size: 1.6rem;
  color: #000;
}

h1 {
  font-weight: normal;
  font-size: 2.4rem;
  font-family: var(--header-font-family);
}

h1,
h2,
h3,
h4 {
  font-family: var(--header-font-family);
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
